---
layout: default
---
{% include generator-header.html %}

<div class="container">

  <div class="assets-title-main">
    <div class="assets-title">
      <h2>Wybierz pełnione stanowisko</h2>
    </div>
    <div class="assets-subtitle">
      Obowiązujący wzór różni się w zależności od pełnionego stanowiska
    </div>
  </div>

  {% include declaration-tiles.html
            title="Stanowiska państwowe"
            declarations=site.other-declarations
  %}

  {% include declaration-tiles.html
            title="Stanowiska samorządowe"
            declarations=site.local-declarations
  %}

  {% include declaration-tiles.html
            title="Parlamentarzyści"
            declarations=site.parlament-declarations
  %}

  {% include generator-tiles.html
            direction = "left"
            image = "ilustracja_rwd.svg"
            title = "Dostępne mobilnie"
            subtitle = "Oświadczenie dostosowane jest do urządzeń mobilnych - możesz
            wypełnić je na telefonie lub tablecie"
  %}

  {% include generator-tiles.html
            direction = "right"
            image = "ilustracja_saving.svg"
            title = "Oszczędność"
            subtitle = "W przyszłości nie musisz uzupełniać kilka razy tych samych
            danych - możesz skorzystać z już raz wypełnionego dokumentu."
  %}

  {% include generator-tiles.html
            direction = "left"
            image = "trophy.png"
            title = "Użyteczność"
            subtitle = "Formularz podzielony jest na części, a przy poszczególnych
            polach znajdują się wyjaśnienia."
  %}

  {% include generator-tiles.html
            direction = "right"
            image = "calc.png"
            title = "Transparentność działań administracji"
            subtitle = "Niezależność od stylu pisma i jakości wykonanych skanów
            dokumentów."
  %}

</div>
