<div class="relative">
    <div class="full-width">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 header-title">
                    <h2>Tworzymy przestrzeń pod aplikacje wspierające pracę administracji publicznej</h2>
                    <div class="description">
                    <br>Oznacza to, że programy, z których korzystasz w swojej codziennej pracy, będą wkrótce dostępne w bezpieczny sposób przez internet. Pierwszym z nich będzie aplikacja do Elektronicznego Zarządzania Dokumentacją.
                    </div>
                </div>
                <div class="image-container" style="background-image:url('./images/banner-dark.png'); background-position: 0px !important"></div>
            </div>
        </div>
    </div>
</div>
