<div class="relative">
    <div class="full-width full-width-assets">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12 header-title">
                    <h2>EZD - Elektroniczne zarządzanie dokumentacją</h2>
                    Zarządzaj efektywnie obiegiem dokumentów w Twojej instytucji. Prowadź sprawy w sposób elektroniczny, oszczędzaj czas potrzebny na uzgodnienia, komunikację i archiwizację.
                </div>
                <div class="image-container image-container-assets col l6" style="background-image:url(./images/EZD.png)"></div>
            </div>
        </div>
    </div>
</div>
<div class="container contain-ezd">
    <div class="mobile-info row assets-info no-border">
        <div class="info-container">
            <div class="col l6 m6 s12 assets-image assets-image2"><img src="./images/automatisation.png"></div>
            <div class="col l6 m6 s12 assets-text1">
                <div class="title">Automatyzacja procesów</div>
                <div class="subtitle">Projektując system EZD skupiliśmy się na tym, żeby jak najmniej czynności musiało być wykonywanych ponownie. Uzupełnianie danych, ostatnio wybierane komórki organizacyjne, aktualnie załatwiane sprawy. Nie musisz tego wszystkie pamiętać, nasz system zrobi to za Ciebie.</div>
            </div>
        </div>
    </div>
    <div class="time-saving row assets-info">
        <div class="info-container">
            <div class="col l6 m6 s12 assets-text2">
                <div class="title">Połączenia z zewnętrznymi bazami danych</div>
                <div class="subtitle">Dziś wiele urzędów musi wielokrotnie wprowadzać dane, które już zbierane są w bazach takich jak REGON czy CEIDG. Nasz system EZD pozwoli uniknąć wielokrotnego wprowadzania danych, pomagając jednocześnie zapewnić ich aktualność.</div>
            </div>
            <div class="col l6 m6 s12 assets-image assets-image2 assets-image3"><img src="./images/database.png"></div>
        </div>
    </div>
    <div class="mobile-info row assets-info">
        <div class="info-container">
            <div class="col l6 m6 s12 assets-image assets-image2"><img src="./images/search.png"></div>
            <div class="col l6 m6 s12 assets-text1">
                <div class="title">Inteligentna wyszukiwarka</div>
                <div class="subtitle">Wyszukiwarka pełnotekstowa z funkcjonalnością podpowiadania fraz, która poradzi sobie z odmianą językową i literówkami. </div>
            </div>
        </div>
    </div>
</div>
</main>
