<div class="relative">
    <div class="full-width full-width-assets">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12 header-title">
                    <h2>Oświadczenie majątkowe. <br> Teraz dostępne w wersji on-line.</h2>
Generator oświadczeń majątkowych to aplikacja, która przenosi wypełnienie dokumentu do świata on-line. Kilka prostych kroków, przejrzyste wyjaśnienia, uporządkowana wiedza - dzięki temu uzupełnienie dokumentu będzie dużo prostsze. Jednorazowe wpisanie danych i pobranie pliku powoduje, że nie będzie konieczności powtarzania tej czynności w przyszłości.

                </div>
                <div class="image-container image-container-assets col l6" style="background-image:url(./images/oswiadczenie_image.png)"></div>
            </div>
        </div>
    </div>
</div>
