
    <div class="mobile-info row assets-info">
        <div class="info-container">
            <div class="col l6 m6 s12 assets-image assets-image2"><img src="./images/ilustracja_rwd.svg"></div>
            <div class="col l6 m6 s12 assets-text1">
                <div class="title">Dostępne mobilnie</div>
                <div class="subtitle">Oświadczenie dostosowane jest do urządzeń mobilnych - możesz wypełnić je na telefonie lub tablecie. </div>
            </div>
        </div>
    </div>
    <div class="time-saving row assets-info">
        <div class="info-container">
            <div class="col l6 m6 s12 assets-text2">
                <div class="title">Oszczędność</div>
                <div class="subtitle">W przyszłości nie musisz uzupełniać kilka razy tych samych danych - możesz skorzystać z już raz wypełnionego dokumentu.</div>
            </div>
            <div class="col l6 m6 s12 assets-image assets-image2 assets-image3"><img src="./images/ilustracja_saving.svg"></div>
        </div>
    </div>
    <div class="mobile-info row assets-info">
        <div class="info-container">
            <div class="col l6 m6 s12 assets-image assets-image2"><img src="./images/trophy.png"></div>
            <div class="col l6 m6 s12 assets-text1">
                <div class="title">Użyteczność</div>
                <div class="subtitle">Formularz podzielony jest na części, a przy poszczególnych polach znajdują się wyjaśnienia.</div>
            </div>
        </div>
    </div>
    <div class="time-saving row assets-info">
        <div class="info-container">
            <div class="col l6 m6 s12 assets-text2">
                <div class="title">Transparentność działań administracji</div>
                <div class="subtitle">Niezależność od stylu pisma i jakości wykonanych skanów dokumentów.</div>
            </div>
            <div class="col l6 m6 s12 assets-image assets-image2 assets-image3"><img src="./images/calc.png"></div>
        </div>
    </div>
</div>
