<header>
    <div class="header_hidden">
        <h1> Witaj w serwisie aplikacje gov.pl</h1>
    </div>
    <div class="header_menu">
        <a href="index.html" class="brand-logo left"><img alt="Projekt Badawczo-Rozwojowy aplikacje.gov.pl" src="../images/logos/PBR_logo.png">
        </a>
        <nav>
            <div class="nav-wrapper relative">

                <ul id="nav-mobile" class="left row slide-nav hide-on-med-and-down fixed">
                    <li>
                        <div class="PBR-logo">
                            <a href="https://mc.gov.pl">
                                <img alt="strona ministerstwa cyfryzacji" class="menu-logo" src="https://mc.gov.pl/files/ministerstwo_cyfryzacji_poziom_0.png">
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
