  <div class="relative">
      <div class="full-width">
          <div class="container">
              <div class="row">
                  <div class="col l6 s12 header-title">
                      <h2>
                        Aplikacje.gov.pl będzie platformą z aplikacjami
                        wspierającymi pracę urzędników państwowych.
                      </h2>

                      <div class="description">
                        Proste w użyciu narzędzia działać będą z poziomu
                        przeglądarki internetowej (w chmurze). Oznacza to,
                        że nie będzie trzeba ich instalować na komputerze
                        martwiąc się o serwery i odpowiednie oprogramowanie.
                      </div>
                      
                      <div class="app_link_slider">
                          <div class="top_btn">
                              <a href="generator.html">WYPEŁNIJ OŚWIADCZENIE</a>
                          </div>
                      </div>
                  </div>
                  <div class="image-container" style="background-image:url('../images/2017/02/MAS-paralax.jpg')"></div>
              </div>
          </div>
      </div>
  </div>
</header>
