<div class="assign-to-beta-container">
    <div class="institutions-bottom-form">
        <div class="container">
            <div class="row">
                <div class="col l6 m6 s12">
                    <h2>Sprawdź swój komputer</h2>
                    <h4>
                        Sprawdzanie możliwości technicznych Twojego sprzętu i łącza internetowego da nam pewność, że stworzymy aplikacje dopasowane do Twoich potrzeb*.</h4>
                    <h3>
                       <b>Wystarczy kliknąć w przycisk poniżej. To tylko 5 sekund!</b>
                    </h3>
                    <div class="submit-btn top_btn">
                        <a href="https://ankieta.aplikacje.gov.pl/survey/bea7e9bf-b6d2-4e20-bb5c-21875125dc1a">Sprawdź swój komputer *</a>
                    </div>
                    <p>*wypełniając ankietę wyrażasz zgodę na przetwarzanie danych przez NASK i Ministerstwo Cyfryzacji</p>
                </div>
                <div class="col l6 s12">
                    <img draggable="false" alt="zrzut ekranu ankiety " class="ico" src="../images/ankieta_technologiczna.png" />
                </div>
            </div>
        </div>
    </div>
</div>
