<div class="col l3 m6 s12 asset_type">
  <a href="{{ declaration.link }}" target="_blank">
    <div class="tile">
        <div class="col m12 asset-type-ico">
            <img draggable="false" class="ico" src="./images/2017/03/icon_kierownicze-panstwowe.png" />
        </div>
        <div class="col m12 asset-text">
            {{ declaration.title }}

        </div>
        <div class="btn-to-declaration">
            <a href="{{ declaration.link }}" target="_blank">Wypełnij oświadczenie</a>
        </div>
    </div>
  </a>
</div>
